<style>
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
</style>
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/games/gam-4/gam376.cur), auto !important;} /* End http://www.cursors-4u.com */
<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Roboto');
</style>
body{ 
    font-family: 'Montserrat', sans-serif;
  
}

:root {
    --main-color: #d0785d;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}



#root {
    height: 100%;
}

.app {
    height: calc(100% - 100px); 
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--secondary-color);
    background: var(--main-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.message {
    margin: 15px 0;
}

.message div:nth-child(1) {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message div:nth-child(2) {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding: 0 0 0 6px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
    box-sizing: border-drop;
    height: 60px;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--send-message-form);
    font-weight: 200;
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: black;
}

.login100-form-title-1{
    
    font-size:22px;
    font-family: ZCOOL XiaoWei;
    
}

.wrap-login100{
    width:1000px;
   height:1000px;
}
#nav {
padding-left:2em;
}


