/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/games/gam-4/gam376.cur), auto !important;} /* End http://www.cursors-4u.com */
.card{


position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
opacity:0.7;
font-size:1.2em;

}


body{
background-image:url(../images/world.jpg);
  background-position: center;
  background-repeat: no-repeat;
  

}
#nav-menu-container{

margin-top:20px;

}
